/* CSS file */

@namespace m "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";


@font-face{
	font-family: 	embeddedComic;
     src:			url("COMIC.TTF");
     font-weight:	normal;
	 
     }	
.times{
	font-family: 	Times New Roman;
	font-weight:	normal;
	font-size: 14;
	
}	

/*@font-face{
	font-family: 	MXembeddedComic;
	src:			url("COMIC.TTF");
	font-weight:	normal;
	embedAsCff:  false;
	
}	*/

/*global*/
.comicbig
{
font-family: embeddedComic ;
font-size: 18;
color:		#3C0B14;
}

.comic
{
	font-family: embeddedComic ;
	font-size: 16;
	color:		#3C0B14;
}

.comicPlacement
{
	font-family: embeddedComic ;
	font-size: 24;
	color:		#3C0B14;
}

  
/*global
{
	font-family: embeddedComic ,  Times New Roman;
	font-size: 18;
	color:		#3C0B14;
}*/

/*
s|global {
	font-family: embeddedComic;
	embedAsCff: false;
	font-size:	18;
	font-weight:  normal;
	color:		#3C0B14; 
	
	background-color: #000000;
	
	
	background-gradient-alphas:	0,0; 
	theme-color :  #0FFEDF;
	borderStyle: inset;
	borderThickness: 0;
	
}     	*/


/* this is all input fields, may need a vwersionfor spelling text input */

s|TextInput {                  
 
   color: #000000;             /*  changes the colour of text as typed */
   
}

/*=======================info =========================*/
/*default blue color is #88D7FF*/


/*=======================info =========================*/

m|Form
{
	backgroundColor: #88D7FF;
	borderColor: #88D7FF;
	color: #000000;
}

 


m|FormItemLabel
{
	color: #030303;        /*text colour */
	disabledColor: #88D7FF;
		
	
}



m|TextArea.pipsinfo
{
	cornerRadius: 5;
	backgroundAlpha: 0.0;
	disabledColor: #FFF9ED;
	borderStyle: none;
	fontSize: 12;
}

/* infoform on the pips page  */



/* backgrounds               **********************************************/

/* reading                   **********************************************/



s|Group
{

	backgroundColor: "88d7ff";
}





/*m|ulable.normal
{
      font-family:	embeddedComic;
      font-size:	18;
      font-weight:  normal;
      color:		#000999; 
      background-color:	#99ff99;
	  background-gradient-colors:   #cc0066, #68808c;
	  background-gradient-alphas:	1,1;
	  theme-color:		#99ff00;	
}
m|ulable.high
{
	  color: #042DFB;
      font-family:	embeddedComic;
      font-size:	18;
      font-weight:  normal;
      background-color:	#99ff99;
	  background-gradient-colors:   #cc0066, #68808c;
	  background-gradient-alphas:	1,1;
	  theme-color:		#99ff00;	
}*/



/* common items        *********************************************************************************88/

/* @font-face
{
	fontFamily: "Comic Sans MS";
	fontWeight: normal;
	fontStyle: normal;
	src: local("Comic Sans MS");
} */

