<html>
    <head>
        <script type="application/javascript" src="//cdn.jsdelivr.net/angularjs/1.2.17/angular.min.js"></script>
        <script type="application/javascript" src="//cdn.jsdelivr.net/angularjs/1.2.17/angular-resource.min.js"></script>
        <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.min.css">
        <script type="application/javascript" src="index.js"></script>
    </head>
    <body ng-app="admin" class="container">
        <section ng-controller="centers">
            <div class="page-header">
                <h1>Centers <a class="fa pull-right fa-plus" href="newcenter"></a></h1>

            </div>
            <div ng-repeat="center in list">
                <div class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-4x" ng-class="iconTypeForCenterType(center.centerType)"></i>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{center.name}} <small>{{center._id}}</small></h4>
                        <p>Max Students : {{center.maxStudents}}</p>
                        <ul class="list-group" ng-repeat="order in purchaseOrders">
                            <li class="list-group-item">{{order.value}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>